<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./styles/concluido.css">
    <title>Pronto!</title>
</head>

<body>
    <div>
        <h2>Renderização concluída!</h2>
        <p>Sua imagem está pronta para baixar, utilize o botão abaixo para fazer o download</p>
        <a href="/download/<%= arquivo %>" class="download"><i class="fas fa-file-download"></i>Fazer download</a>
        <p>Utilize o botão abaixo para comprimir outra imagem</p>
        <a href="/" class="proxima">Próxima<i class="fas fa-arrow-right"></i></a>
    </div>

</body>

</html>