<!-- <h1>FORM de upload</h1>

<form method="post" enctype="multipart/form-data" action="/uploads">
    <input type="file" name="arquivo">
    <input type="submit" value="upload">
</form> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="./images/icon.png">
    
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="./script.js" defer></script>
    <title>Compress img</title>
</head>
<body>
    <section class="container">

        <header>
            <div class="header">
                <figure class="logo">
                    <img src="./images/logo.png" alt="logo">
                    <figcaption>Image by <a href="https://pixabay.com/users/openclipart-vectors-30363/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=155123">OpenClipart-Vectors</a> <br>from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=155123">Pixabay</a></figcaption>
                </figure>
                <div class="titulo">
                    <h1>Compressor de imagens</h1>
                    <h2>O que é mais pesado <i class="far fa-grin-squint-tears fa-lg"></i><br><span>1kg de ferro ou 1kg de algodão?</span></h2>
                </div>
            </div>
            <p class="descricao descricao-line">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum explicabo delectus ratione, vitae, distinctio id officiis ea recusandae quibusdam molestias velit</p>
            <p class="descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, quia. Deleniti aperiam perspiciatis, autem necessitatibus quibusdam quos labore modi</p>
        </header>
    
        <main>
            <div class="upload-bar">
                <!-- <div class="upload-name"> -->
                <p>Upload Files</p>
                <i class="fas fa-upload fa-2x"></i>
                <!-- </div> -->
                <!-- <div class="btn">
                            <button id="add-img">Add Img</button>
                            <input id="comprimir" value="Comprimir" type="submit" form="form">
                        </div> -->
            </div>
            <form id="form" class="formulario" method="post" enctype="multipart/form-data" action="/uploads">
                <div class="arquivo">
                    <label>Imagem </label>
                    <input type="file" name="arquivo" id="fileUpload">
                    <i id="stats_icon" class="fas fa-exclamation-circle fa-lg"></i>
                </div>
                <div class="nivel">
                    <p>Escolha o nível: </p>
                    <input type="range" name="nivel" value="70" min="1" max="100" class="slider" id="myRange">
                    <p>Nível <span id="demo"></span></p>
                </div>
            </form>
            <div class="status-bar">
                <input id="comprimir" value="Comprimir" type="button">
            </div>
        
        </main>
    
        <footer>
    
        </footer>

    </section>
</body>
</html>