<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="./images/icon.png">
    
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="./script.js" defer></script>
    <title>Compress img</title>
</head>
<body>
    <section class="container">

        <header>
            <div class="header">
                <figure class="logo">
                    <img src="./images/logo.png" alt="logo">
                    <figcaption>Image by <a href="https://pixabay.com/users/openclipart-vectors-30363/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=155123">OpenClipart-Vectors</a> <br>from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=155123">Pixabay</a></figcaption>
                </figure>
                <div class="titulo">
                    <h1>Compressor de imagens</h1>
                    <h2>O que é mais pesado <i class="far fa-grin-squint-tears fa-lg"></i><br><span>1kg de ferro ou 1kg de algodão?</span></h2>
                </div>
            </div>
        </header>
    
        <main>
            <div class="upload-bar">
                <p>Upload Files</p>
                <i class="fas fa-upload fa-2x"></i>
            </div>
            <form id="form" class="formulario" method="post" enctype="multipart/form-data" action="/qualidade">
                <div class="arquivo">
                    <label>Imagem </label>
                    <input type="file" name="arquivo" id="fileUpload">
                    <i id="stats_icon" class="fas fa-exclamation-circle fa-lg"></i>
                </div>
                <div class="nivel">
                    <p>Escolha o nível de qualidade: </p>
                    <input type="range" name="nivel" value="70" min="1" max="100" class="slider" id="myRange">
                    <p>Nível <span id="demo"></span>%</p>
                </div>
                <div class="redimensionar">
                    <div class="question">
                        <div>
                            <p class="re_div">Deseja redimencionar?</p>
                        </div>
                        <div>
                            <label>Não</label>
                            <input id="redimensionar_false" type="radio" name="redimencionar" checked>
                            <label class="label_2">Sim</label>
                            <input id="redimensionar_true" type="radio" name="redimencionar">
                        </div>
                        <div class="proporcao">
                            <label>Manter proporção</label>
                            <input id="proporcao" type="checkbox" name="proporcao">
                        </div>
                    </div>
                    <div>
                        <p class="re_div">Min: 1</p>
                        <p>Max: 9999</p>
                    </div>
                    <div class="dimencoes">
                        <div class="re_div">
                            <label>Largura:</label>
                            <input id="largura" type="number" name="largura" min="1" max="9999">
                        </div>
                        <div>
                            <label>Altura:</label>
                            <input id="altura" type="number" name="altura" min="1" max="9999">
                        </div>
                    </div>
                </div>
            </form>
            <div class="status-bar">
                <input id="comprimir" value="Comprimir" type="button">
            </div>
        
        </main>

        <section>
            <p class="descricao descricao-line">Para utilizar o serviço, basta adicionar uma imagem com a extenção .jpg, utilizando o botão "escolher arquivo", escolher o nível de compressão e clique em comprimir, aguarde o servidor processar a imagem para ser redirecionado para a página de downloads. Você também pode indicar se deseja redimencionar a imagem e informar as dimenções desejadas e, se preferir, pode manter a proporção para não distorcer a imagem.</p>
            <p class="descricao">Essa aplicação web foi desenvolvida como trabalho final do curso de Desenvolvedor Java e Web - nível 1, do Programa <a href="https://floripamaisempregos.santacatarinapelaeducacao.com.br/">Floripa Mais Empregos</a>, em parceria com a <a href="https://ufsc.br/">Universidade Federal de Santa Catarina</a>.<br> A aplicação conta com backend desenvolvido com o Node.js e utiliza o JavaScript Image Manipulation Program - JIMP, para processar as imagens e só é possível manipular uma imagem por vez.</p>
        </section>
    
        <footer>
            <div class="attribution">
                Trabalho final do curso de Desenvolvedor Java e Web - nível 1, do Programa <a href="https://floripamaisempregos.santacatarinapelaeducacao.com.br/">Floripa Mais Empregos</a>, em parceria com a <a href="https://ufsc.br/">Universidade Federal de Santa Catarina</a>.
                Elaborado por: <a href="https://github.com/Mateushrb">Mateus Henrique</a>.
            </div>
        </footer>

    </section>
</body>
</html>