<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./styles/limite.css">
    <title>Limite</title>
</head>
<body>
    <div>
        <h2>Valores inválidos</h2>
        <p>Valores de Largura e/ou Altura não permitidos</p>
        <p>Volte e insira os valores respeitando o limite.</p>
        <input type="button" value="Voltar" onClick="history.go(-1)">
    </div>
</body>
</html>