@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

body {
    width: 100vw;
    background-color: azure;
    margin: 0;
    margin-top: 15px;
}

div {
    width: 40%;
    border: 1px solid;
    background-color: rgb(169, 255, 226);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px 20px 20px;
    margin: auto;
    border-radius: 15px;
}

div h2 {
    font-size: 26px;
}

div p {
    font-size: 18px;
}

.fa-file-download {
    padding-right: 5px;
}

.fa-arrow-right {
    padding-left: 5px;
}

.download {
    border-radius: 20px;
    padding: 8px;
    text-decoration: unset;
    color: #005c14;
    font-weight: 700;
    background-image: linear-gradient(rgb(255, 166, 0), rgba(223, 145, 0, 0.884));
    box-shadow: 0px 4px 2px;
    /* white-space: nowrap; */
}

.download:hover {
    background-image: linear-gradient(rgb(255, 184, 52),rgba(221, 161, 48, 0.884));
}

.download:active {
    box-shadow: 0px 2px 1px;
}

.proxima {
    border: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 7px;
    font-weight: 700;
    color: #005212;
    text-decoration: unset;
    background-color: rgba(218, 154, 36, 0.842);
}

.proxima:hover {
    background-color: rgb(255, 166, 0);
}

@media screen and (max-width: 500px) {
    div {
        width:70%;
    }
}
